<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <a class="flex align-items-center" href="#">
                <img src="../../../assets/layout/images/logo-tt.svg" alt="Sakai Logo" height="50" class="mr-0 lg:mr-2"><span class="text-900 font-medium text-2xl line-height-3 mr-8">CPMGROUPE</span>
            </a>
            <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" >
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:85%">
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                    <li>
                        <a (click)="router.navigate(['/pages/landing'], {fragment: 'home'})" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                           <span>Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/pages/landing'], {fragment: 'features'})" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span>A propos</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/pages/landing'], {fragment: 'highlights'})" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/pages/landing'], {fragment: 'pricing'})" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span>Portefeuille</span>
                        </a>
                    </li>
                    <li>
                      <a (click)="router.navigate(['/pages/landing'], {fragment: 'pricing'})" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                          <span>Equipe</span>
                      </a>
                  </li>
                  <li>
                    <a (click)="router.navigate(['/pages/landing'], {fragment: 'pricing'})" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>Tarification</span>
                    </a>
                </li>
                <li>
                  <a (click)="router.navigate(['/pages/landing'], {fragment: 'pricing'})" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                      <span>Contact</span>
                  </a>
              </li>
                </ul>
                <div class="flex justify-content-center block border-top-none lg:border-top-none surface-border lg:ml-4 py-3 lg:py-0 mt-3 lg:mt-0">
                    <button (click)="cpm()" pButton pRipple label="CPM" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button>
                    <button (click)="login()" pButton pRipple label="Connexion" class="p-button-rounded border-none sm:ml-5 lg:ml-1 font-light line-height-2 bg-blue-500 text-white"></button>
                </div>
            </div>
        </div>
    
        <div id="hero" class="grid py-4 px-4 lg:px-8 relative">
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block">Développez votre entreprise avec</span>CPM Groupe</h1>
                <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Une plateforme magique qui vous aider à développez votre Organisation. </p>
                <button pButton pRipple type="button" label="Commencer" class="p-button-outlined p-button-rounded p-button-info text-xl font-normal line-height-3 px-3"></button>

            </div>
            <img src="../../../assets/layout/images/photooos2.png" alt="" data-aos="fade-left" data-aos-delay="200"  class="fadein  sm:mt-5 md:mt-0 img-fluid animated lg:w-5 md:w-auto sm:w-auto" style="right:1%">

        </div>
    </div>
</div>
     
     
     
     
     
     
     
     
     
     
     
     
     
   