
<p-toast></p-toast>

<div class="grid">
  <div class="col-12">

    <div class="card">
        <!-- <h5 class="m-0">Gestion des Organisations</h5> -->

          <!-- <p-accordion style="width: 100%;">
              <p-accordionTab header="Ajouter Une Organization">
                 Content 1
              </p-accordionTab>
            </p-accordion> -->

        <p-panel header="Ajouter Une Organization" [toggleable]="true" [collapsed]="true" class="line-height-3 m-0 mx-3">


    <div class="grid justify-content-center p-2 lg:p-2" style="min-width:80%">

        <div class="col-12">
                <div class="text-500 ">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>

                <div class="w-full md:w-12 ">
                    <form [formGroup]="myForm">
                        <!-- ---hidden--- -->
                        <div class="field">
                            <input type="text" hidden pInputText id="code" formControlName="id" />
                        </div>

                        <h5>Détails Organisation</h5>
                        <div class="p-fluid p-formgrid grid partsHover">

                            <div class="field col-12 md:col-5">
                                <label for="organizationName">Nom Organisation*</label>
                                <input id="organizationName" pInputText placeholder="Nom de l'Organisation" type="text" formControlName="organizationName"
                                    required autofocus/>
                                <div *ngIf="(myForm.get('organizationName').invalid && myForm.get('organizationName').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('organizationName').hasError('required')">Nom est obligatoire.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-3">
                                <label for="organizationCode">Code Organisation*</label>
                                <input id="organizationCode" pInputText placeholder="Code" type="text" formControlName="organizationCode"
                                    required autofocus/>
                                <div *ngIf="(myForm.get('organizationCode').invalid && myForm.get('organizationCode').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('organizationCode').hasError('required')">Code est obligatoire.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="sector">Secteur d'activité*</label>
                                <p-dropdown id="sector" appendTo="body" [options]="sectors" placeholder="Choisir un Secteur d'activité" optionLabel="name"
                                    [showClear]="true" formControlName="sector">
                                </p-dropdown>
                                <div *ngIf="(myForm.get('sector').invalid && myForm.get('sector').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('sector').hasError('required')">Secteur d'activité est obligatoire.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="organizationEmail">E-Mail</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                                    <input id="organizationEmail" type="email" formControlName="organizationEmail" pInputText placeholder="e-mail">
                                </div>
                                <div *ngIf="(myForm.get('organizationEmail').invalid && myForm.get('organizationEmail').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('organizationEmail').hasError('required')">E-mail est obligatoire.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('organizationEmail').hasError('email')">Format incorrect.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="phone">Numéro de téléphone de l'organisation</label>
                                <!-- <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="country-item country-item-value" *ngIf="selectedCountry">
                                            <img src="assets/layout/images/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" />
                                            <div>{{selectedCountry.name}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-country pTemplate="item">
                                        <div class="country-item">
                                            <img src="assets/layout/images/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                                            <div>{{country.name}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown> -->
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                                    <p-inputNumber id="phone" mode="decimal" formControlName="phone" placeholder="Téléphone" [useGrouping]="false">
                                    </p-inputNumber>
                                </div>
                                <div *ngIf="(myForm.get('phone').invalid && myForm.get('phone').dirty)">
                                    <small *ngIf="myForm.get('phone').hasError('pattern')">Numéro de téléphone invalide.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-3">
                                <label for="country">Pays*</label>
                                <p-dropdown id="country" appendTo="body" [options]="countryListAllIsoData" optionLabel="name" [filter]="true" filterBy="name" placeholder="Sélèctionner" formControlName="country"></p-dropdown>
                                <div *ngIf="(myForm.get('country').invalid && myForm.get('country').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('country').hasError('required')">Pays est obligatoire.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-3">
                                <label for="region">Région*</label>
                                <input id="region" pInputText placeholder="Région de l'organisation" type="text" formControlName="region" required autofocus/>
                                <div *ngIf="(myForm.get('region').invalid && myForm.get('region').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('region').hasError('required')">Région est obligatoire.</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="address">Adresse*</label>
                                <input id="address" pInputText placeholder="Adresse de l'organisation" type="text" formControlName="address" required autofocus/>
                                <div *ngIf="(myForm.get('address').invalid && myForm.get('address').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('address').hasError('required')">L'adresse est obligatoire.</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-12">
                                <label for="dcument">Document juridique (Patente/RC)</label>

                                <p-fileUpload accept="application/pdf" id="request" (onSelect)="onSelectDocument($event)" [showCancelButton]=false (onRemove)="onRemoveDocument()" maxFileSize="10000000" invalidFileSizeMessageDetail= "la taille de fichier maximale est de 10 Mo."
                                [showUploadButton]=false chooseLabel="Choisir" cancelLabel="Annuler">
                                </p-fileUpload>
                              </div>
                        </div>

                        <h5>Détails Directeur Général</h5>
                        <div class="p-fluid p-formgrid grid partsHover">

                            <div class="field col-12 md:col-4">
                                <label for="directorLastName">Nom Directeur Général*</label>
                                <input id="directorLastName" pInputText placeholder="Nom " type="text" formControlName="directorLastName"
                                    required autofocus/>
                                <div *ngIf="(myForm.get('directorLastName').invalid && myForm.get('directorLastName').dirty)">
                                    <small *ngIf="myForm.get('directorLastName').hasError('required')">Nom est obligatoire.</small>
                                    <small *ngIf="myForm.get('directorLastName').hasError('pattern')">Nom invalide.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="directorFirstName">Prénom Directeur Général*</label>
                                <input id="directorFirstName" pInputText placeholder="Prénom " type="text" formControlName="directorFirstName"
                                    required autofocus/>
                                <div *ngIf="(myForm.get('directorFirstName').invalid && myForm.get('directorFirstName').dirty)">
                                    <small *ngIf="myForm.get('directorFirstName').hasError('required')">Prénom est obligatoire.</small>
                                    <small *ngIf="myForm.get('directorFirstName').hasError('pattern')">Prénom invalide.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="directorNumber">Numéro de téléphone Directeur général</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                                    <p-inputNumber id="directorNumber" mode="decimal" placeholder="Téléphone" [useGrouping]="false" formControlName="directorPhone">
                                    </p-inputNumber>
                                    <div *ngIf="(myForm.get('directorPhone').invalid && myForm.get('directorPhone').dirty)">
                                        <small *ngIf="myForm.get('directorPhone').hasError('pattern')">Numéro de téléphone invalide.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-12">
                                <label for="directorEmail">E-Mail Directeur général</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                                    <input id="directorEmail" type="email"  pInputText placeholder="e-mail">
                                </div>
                                <div *ngIf="(myForm.get('directorEmail').invalid && myForm.get('directorEmail').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('directorEmail').hasError('email')">Format incorrect.</small>
                                </div>
                            </div>
                        </div>

                        <h4>Détails Administrateur Organisation</h4>
                        <div class="p-fluid p-formgrid grid partsHover">

                            <div class="field col-12 md:col-4">
                                <label for="adminLastName">Nom Administrateur*</label>
                                <input id="adminLastName" pInputText placeholder="Nom " type="text" formControlName="adminLastName"/>
                                <div *ngIf="(myForm.get('adminLastName').invalid && myForm.get('adminLastName').dirty)">
                                    <small *ngIf="myForm.get('adminLastName').hasError('required')">Nom est obligatoire.</small>
                                    <small *ngIf="myForm.get('adminLastName').hasError('pattern')">Nom invalide.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="adminFirstName">Prénom Administrateur*</label>
                                <input id="adminFirstName" pInputText placeholder="Prénom " type="text" formControlName="adminFirstName"/>
                                <div *ngIf="(myForm.get('adminFirstName').invalid && myForm.get('adminFirstName').dirty)">
                                    <small *ngIf="myForm.get('adminFirstName').hasError('required')">Prénom est obligatoire.</small>
                                    <small *ngIf="myForm.get('adminFirstName').hasError('pattern')">Prénom invalide.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="adminNumber">Numéro de téléphone Administrateur*</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                                    <p-inputNumber id="adminNumber" mode="decimal" placeholder="Téléphone" [useGrouping]="false" formControlName="adminPhone">
                                    </p-inputNumber>
                                </div>
                                <div *ngIf="(myForm.get('adminPhone').invalid && myForm.get('adminPhone').dirty)">
                                    <small *ngIf="myForm.get('adminPhone').hasError('pattern')">Numéro de téléphone invalide.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('adminPhone').hasError('required')">Numéro de téléphone est obligatoire.</small>

                                </div>
                            </div>
                            <div class="field col-12 md:col-12">
                                <label for="adminEmail">E-Mail Administrateur*</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                                    <input id="adminEmail" type="email"  pInputText placeholder="e-mail" formControlName="adminEmail">
                                </div>
                                <div *ngIf="(myForm.get('adminEmail').invalid && myForm.get('adminEmail').dirty)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('adminEmail').hasError('email')">Format incorrect.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('adminEmail').hasError('required')">Numéro de téléphone est obligatoire.</small>

                                </div>
                            </div>
                        </div>
                        <h4>Détails Compte</h4>
                        <div class="p-fluid p-formgrid grid partsHover">
                        <div class="field col-12 md:col-12">
                            <label for="username">Nom d'utilisateur*</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" id="username" pInputText placeholder="Choisir un Username" formControlName="username">
                            </div>
                            <div *ngIf="(myForm.get('username').invalid && myForm.get('username').dirty)">
                                <small *ngIf="myForm.get('username').hasError('required')">Nom d'utilisateur est obligatoire.</small>
                            </div>
                            <div *ngIf="myForm.errors?.['usernameTaken']">
                                <small class="ng-dirty ng-invalid">Nom d'utilisateur déjà utilisé.</small>
                            </div>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="password1">Mot de Passe*</label>
                            <p-password [feedback]="false" id="password1" placeholder="Mot de Passe" [toggleMask]="true"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right" formControlName="password">
                            </p-password>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="password2">Confirmation de Mot de Passe*</label>
                            <p-password [feedback]="false" id="password2" placeholder="Mot de Passe" formControlName="confirmPassword"
                              styleClass="p-password p-component p-inputwrapper p-input-icon-right" [toggleMask]="true"></p-password>
                              <div *ngIf="myForm.errors?.['notmatched'] && (myForm.touched || myForm.dirty)">
                                <small class="ng-dirty ng-invalid">Mot de passe ne correspond pas.</small>
                              </div>
                        </div>
                    </div>

                    </form>
                </div>

                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <button pButton pRipple icon="pi pi-undo" class="p-button-text"></button>

                    </div>

                    <div class="p-toolbar-group-right">
                        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveOrganization()"></button>
                    </div>
                </p-toolbar>


        </div>

    </div>

        </p-panel>
    </div>

    <div class="card">

      <!-- ---------------------------------table------------------------------------ -->

      <p-dataView #dv [value]="organizations" filterBy="name,"layout="grid" responsiveLayout="scroll"
      [rows]="10" [paginator]="true"
      [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
      currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées">
				<ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dv.filter($event.target.value)"
                placeholder="Recherche..." />
            </span>
          </div>

				</ng-template>

				<ng-template let-organization pTemplate="gridItem">
					<div class="col-12 md:col-3">
						<div class="card m-3 border-1 surface-border">
							<div class="flex align-items-center justify-content-between">
								<div class="flex align-items-center">
								</div>
							</div>
							<div class="text-center">
                <div class="circularI shadow-2 text-center"  (click)="loadIntern(intern?.id)">
                    <img *ngIf="intern?.profilePicture" [src]="getSrcFromCustomFile(intern?.profilePicture)" alt="" class=" circularI text-center"/>
                    <img *ngIf="!intern?.profilePicture" src="./assets/layout/images/logo-placeholder-image.png" alt="" />
                </div>
								<div class="mt-3 text-2xl font-bold">{{organization?.name}}</div>
								<div class="mb-3">{{organization?.code}}</div>
							</div>
							<div class=" text-center">

              <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-help mr-2" (click)="loadOrganization(organization?.id)" ></button>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editOrganization(organization)" ></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteOrganization(organization)"></button>
							</div>
						</div>

					</div>
				</ng-template>

			</p-dataView>

    </div>

    <!-- ---------------------------------delete single dialog------------------------------------ -->
    <p-dialog [(visible)]="deleteOrganizationDialog" header="Confirmation" [modal]="true" [style]="{width:'40%'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="organization">Supprimer <b>{{organization?.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteOrganizationDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <!-- ---------------------------------delete multiple dialog------------------------------------ -->

    <p-dialog [(visible)]="deleteOrganizationsDialog" header="Confirm" [modal]="true" [style]="{width:'40%'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Supprimer Sélection ?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteOrganizationsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>

    <!-- ---------------------------------edit dialog------------------------------------ -->
    <p-dialog [(visible)]="editDialog" [style]="{width: '70%'}" header="Modifier Organisation" [modal]="true"
    class="p-fluid">
    <div class="text-500 mb-5">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>
    <ng-template pTemplate="content">
        <form [formGroup]="editForm">
            <!-- ---hidden--- -->
            <div class="field">
                <input type="text" hidden pInputText id="code" formControlName="id" />
            </div>

            <h5>Détails Organisation</h5>
            <div class="p-fluid p-formgrid grid partsHover">

                <!-- <div class="field col-12  ">
                    <label >Logo Organisation</label>
                    <p-fileUpload class="pt-5" accept="image/png, image/jpeg"  maxFileSize="1000000000"
                    chooseLabel="Choisir" [showCancelButton]=true  [showUploadButton]=false>
                    </p-fileUpload>
                </div> -->

                <div class="field col-12 md:col-5">
                    <label for="organizationName">Nom Organisation*</label>
                    <input id="organizationName" pInputText placeholder="Nom de l'Organisation" type="text" formControlName="organizationName"
                        required autofocus/>
                    <div *ngIf="(editForm.get('organizationName').invalid && editForm.get('organizationName').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('organizationName').hasError('required')">Nom est obligatoire.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="organizationCode">Code Organisation*</label>
                    <input id="organizationCode" pInputText placeholder="Code" type="text" formControlName="organizationCode"
                        required autofocus/>
                    <div *ngIf="(editForm.get('organizationCode').invalid && editForm.get('organizationCode').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('organizationCode').hasError('required')">Code est obligatoire.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="sector">Secteur d'activité*</label>
                    <p-dropdown id="sector" appendTo="body" [options]="sectors" placeholder="Choisir un Secteur d'activité" optionLabel="name"
                       [showClear]="true" formControlName="sector">
                     </p-dropdown>
                    <div *ngIf="(editForm.get('sector').invalid && editForm.get('sector').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('sector').hasError('required')">Secteur d'activité est obligatoire.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="organizationEmail">E-Mail</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                        <input id="organizationEmail" type="email" formControlName="organizationEmail" pInputText placeholder="e-mail">
                    </div>
                    <div *ngIf="(editForm.get('organizationEmail').invalid && editForm.get('organizationEmail').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('organizationEmail').hasError('required')">E-mail est obligatoire.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('organizationEmail').hasError('email')">Format incorrect.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="phone">Numéro de téléphone de l'organisation</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                        <p-inputNumber id="phone" mode="decimal" formControlName="phone" placeholder="Téléphone" [useGrouping]="false">
                        </p-inputNumber>
                    </div>
                    <div *ngIf="(editForm.get('phone').invalid && editForm.get('phone').dirty)">
                        <small *ngIf="editForm.get('phone').hasError('pattern')">Numéro de téléphone invalide.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="country">Pays*</label>
                    <p-dropdown id="country" appendTo="body"  placeholder="Sélèctionner" formControlName="country"></p-dropdown>
                    <div *ngIf="(editForm.get('sector').invalid && editForm.get('sector').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('sector').hasError('required')">Pays est obligatoire.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="region">Région*</label>
                    <input id="region" pInputText placeholder="Région de l'organisation" type="text" formControlName="region" required autofocus/>
                    <div *ngIf="(editForm.get('region').invalid && editForm.get('region').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('region').hasError('required')">Région est obligatoire.</small>
                    </div>
                </div>

                <div class="field col-12 md:col-6">
                    <label for="address">Adresse*</label>
                    <input id="address" pInputText placeholder="Adresse de l'organisation" type="text" formControlName="address" required autofocus/>
                    <div *ngIf="(editForm.get('address').invalid && editForm.get('address').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('address').hasError('required')">L'adresse est obligatoire.</small>
                    </div>
                </div>

                <div class="field col-12 md:col-12">
                    <label for="dcument">Document juridique (Patente/RC)</label>
                    <p-fileUpload [hidden]="documentAvailability" accept="application/pdf" (onSelect)="onSelectModalDocument($event)" (onRemove)="onRemoveModalDocument()"
                     [showCancelButton]=false maxFileSize="10000000" invalidFileSizeMessageDetail= "la taille de fichier maximale est de 10 Mo."
                      [showUploadButton]=false chooseLabel="Choisir" cancelLabel="Annuler" id="document">
                    </p-fileUpload>

                    <p-table [hidden]="!documentAvailability" [value]="docs" styleClass="p-datatable-sm" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc>
                            <tr>
                                <td><i class="pi pi-file-pdf" style="font-size: 2rem"></i>
                                </td>
                                <td>{{doc?.fileName}}</td>
                                <td>
                                    <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success p-button-text"></button>
                                    <button (click)="onRemoveExistingDocument()" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                  </div>
            </div>

            <h5>Détails Directeur Général</h5>
            <div class="p-fluid p-formgrid grid partsHover">

                <div class="field col-12 md:col-4">
                    <label for="directorLastName">Nom Directeur Général*</label>
                    <input id="directorLastName" pInputText placeholder="Nom " type="text" formControlName="directorLastName"
                        required autofocus/>
                    <div *ngIf="(editForm.get('directorLastName').invalid && editForm.get('directorLastName').dirty)">
                        <small *ngIf="editForm.get('directorLastName').hasError('required')">Nom est obligatoire.</small>
                        <small *ngIf="editForm.get('directorLastName').hasError('pattern')">Nom invalide.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="directorFirstName">Prénom Directeur Général*</label>
                    <input id="directorFirstName" pInputText placeholder="Prénom " type="text" formControlName="directorFirstName"
                        required autofocus/>
                    <div *ngIf="(editForm.get('directorFirstName').invalid && editForm.get('directorFirstName').dirty)">
                        <small *ngIf="editForm.get('directorFirstName').hasError('required')">Prénom est obligatoire.</small>
                        <small *ngIf="editForm.get('directorFirstName').hasError('pattern')">Prénom invalide.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="directorNumber">Numéro de téléphone Directeur général</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                        <p-inputNumber id="directorNumber" mode="decimal" placeholder="Téléphone" [useGrouping]="false" formControlName="directorPhone">
                        </p-inputNumber>
                        <div *ngIf="(editForm.get('directorPhone').invalid && editForm.get('directorPhone').dirty)">
                            <small *ngIf="editForm.get('directorPhone').hasError('pattern')">Numéro de téléphone invalide.</small>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-12">
                    <label for="directorEmail">E-Mail Directeur général</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                        <input id="directorEmail" type="email" formControlName="directorEmail" pInputText placeholder="e-mail">
                    </div>
                    <div *ngIf="(editForm.get('directorEmail').invalid && editForm.get('directorEmail').dirty)">
                        <small class="ng-dirty ng-invalid" *ngIf="editForm.get('directorEmail').hasError('email')">Format incorrect.</small>
                    </div>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
        (click)="hideEditDialog()"></button>
      <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="updateOrganization()"
        ></button>
    </ng-template>
  </p-dialog>
  </div>
</div>

